<h2>Register</h2>
<form (submit)="onSubmit(registerForm)">
  <div class="form-control">
    <label for="">Email</label>
    <input type="text" class="input chat-input" placeholder="Email" name="email" [(ngModel)]="user.email" required>
  </div>
  <div class="form-control">
    <label for="">Username</label>
    <input type="text" class="input chat-input" placeholder="username" name="username" [(ngModel)]="user.username" required>
  </div>
  <div class="form-control">
    <label for="">Password</label>
    <input class="input chat-input" type="password" placeholder="password" name="password" [(ngModel)]="user.password" required>
  </div>

  <div class="form-control">
    <button class="submit">Submit</button>
  </div>
</form>
