
.navbar {
    background: #ffd11a;
}
  
 .navbar-items {
    display: flex;
    padding:1em;
    list-style: none;
    letter-spacing: 3px;
}




.navbar-items li {
    flex: 1;
    text-decoration: none;
    text-transform: uppercase;
    
}

.navbar-item a,.navbar-item a:visited {
    text-decoration: none;
    color:white;
}
