<h1>welcome {{user.username}}</h1>
<!-- chat window messages-->
<div class="container">
  <div class="column">
  <app-users-list></app-users-list>
  </div>

<div class="column">
  <div class="chat-window">
    <div class="chat-bubble" *ngFor="let message of messages" >
      <strong>{{message.userName}}: </strong>{{ message.body }}
    </div>
  </div>


<!-- chat form -->
  <form #form>
    <label for="">chat:</label>
    <input class="input chat-input" type="text" placehholder="message" [(ngModel)]="message.body"  name="body" #body>
    <button class="send-message" (click)="addMessage(user, body.value)">send</button>
  </form>
</div>
</div>
