.chat-window {
    margin: auto;
    height: 300px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    padding: 1em 2em;
    overflow: auto;

}


.chat-bubble {
    text-align: left;
    border: 1px solid rgb(177, 177, 177);
    padding:.5em;
    margin-bottom:.5em;
    border-radius: 5px;
}

.input {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgb(177, 177, 177);
    padding:.5em 1em;
}

.chat-input {
   
}

.user-input {

}


.send-message {
    background-color:#ffd11a;
    color:white;
    box-shadow: none;
    border: none;
    border-radius: 5px;
}