.auth-form {}

.form-control {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1em 2em;
}

.input {
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid rgb(177, 177, 177);
  padding: .5em 1em;
}

.input-is-invalid {
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid red;
  padding: .5em 1em;
}

.invalid-feedback {
  color: red;
  font-size: 14px;
}

.submit {
  background-color: #ffd11a;
  color: white;
  border-radius: 5px;
  padding: .7em 1em;
}
