<div class="container">


  <h2>Login</h2>
  <form>
    <div class="form-control">
      <label for="">Email</label>
      <input type="email" [(ngModel)]="user.email" placeholder="email"
        name="email" class="input">

    </div>

    <div class="form-control">
      <label for="">Password</label>
      <input class="input chat-input" type="password" placeholder="password" name="password" [(ngModel)]="user.password"  required minlength="6"> 
    </div>

    <div class="form-control">
      <button (click)="onSubmit()" class="submit">Submit</button>
    </div>
  </form>
